.aboutContainer {
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.6;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.backButtonContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.backButton {
    background-color: #0033A0;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.backButton:hover {
    background-color: #002280;
}

.section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
